<!-- Title -->
<header class="mt-78">
  <div class="jumbotron jumbotron-fluid" id="title-about-page">
    <div class="container text-center">
      <h1 class="display-4">All Posts</h1>
      <p class="lead">Interesting to know</p>
    </div>
  </div>
</header>

<div class="container-fluid">
  <p class="notice"> <%= notice %> </p>
  <!-- Start row -->
  <p> <%= link_to 'New Post', new_post_path, class: 'btn btn-success' %> </p>
  <hr>
  <div class="row">
    <!-- Left column -->
    <div class="col-lg-8 mb-9 mb-lg-0">
      <div class="row">
        <!-- Start post card -->
        <% @posts.each do |post| %>
        <article class="card col-md-6 border-0 p-0">
          <div class="card-body mb-4">
            <div class="mb-4">
              <%= link_to post do %>
                <%= image_tag(post.image_url(:thumb), class: 'img-fluid rounded') if post.image? %>
              <% end %>
            </div>
            <small class="d-block text-secondary mb-2">
              <%= post.created_at.strftime("%B %d, %Y") %>
            </small>
            <h2 class="h3 mb-4">
              <%= link_to post.title, post %>
            </h2>
            <p> <%= post.description %> </p>
            <hr>
            <!-- Comments icon -->
            <div>
              <%= link_to post_path(post, anchor: 'list-comment'), class: 'icon-comment-block' do %>
                <%= icon('far', 'comment-alt') %> <%= post.comments.count %>
              <% end %>
              <!-- Post views counter -->
              <span class="icon-comment-block ml-3"><%= icon('far', 'eye') %> <%= post.hits %></span>
            </div>
            <!-- End Comments icon -->
          </div>
        </article>
        <% end %>

        <!-- End post card -->
      </div>
      <!-- Kaminari -->
      <div class="d-flex justify-content-center mt-5">
        <%= paginate @posts %>
      </div>
    </div>
    <!-- End left column -->

    <!-- Right column -->
    <div class="col-lg-4">
      <%= render 'shared/right-column' %>
    </div>
    <!-- End right column -->
    </div>
    <!-- End row -->
</div>
<!-- End container -->
