<!-- Title -->
<header class="mt-78">
  <div class="jumbotron jumbotron-fluid" id="title-about-page">
    <div class="container text-center">
      <h1 class="display-4"><%= @post.title %></h1>
      <p class="lead mt-5">
        Admin | <%= @post.created_at.strftime("%B %d, %Y") %> |
        <%= icon('far', 'eye') %> <%= @post.hits %>
      </p>
    </div>
  </div>
</header>

<div class="container-fluid mb-5">
  <p id="notice"><%= notice %></p>

  <div class="row">
    <!-- Left column -->
    <div class="col-lg-8 mb-9 mb-lg-0">
      <%= image_tag(@post.image_url(:large), class: 'img-fluid rounded mb-5') if @post.image? %>
      <!-- html_safe -->
      <div><%= @post.content.html_safe %></div>
      <p class="mt-5 mb-5">
        <%= raw @post.tags.map(&:name).map{ |t| link_to t, tag_path(t), class: 'btn btn-tag-show'}.join(' ') %> 
      </p>
      <hr>

      <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-warning' %>
      <%= link_to 'Back', posts_path, class: 'btn btn-secondary' %>
      <%= link_to 'Destroy', @post, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>

      <hr>
      <!-- Comment section -->

      <% if @post.comments.present? %>
      <div class="mb-5">
        <h2 id="list-comment">
          <% if @post.comments.count % 10 == 1 && @post.comments.count != 11 %>
            <%= @post.comments.count %> Comment
          <% else %>
            <%= @post.comments.count %> Comments
          <% end %>
        </h2>
        <%= render @post.comments %>
      </div>
      <% end %>

      <!-- Form for new comment -->
      <div class="mt-5 mb-5">
        <h2>Leave a comment:</h2>
        <%= render 'comments/form' %>
      </div>
      <!-- End of Comment section -->
    </div>
    <!-- End Left column -->

    <!-- Right column -->
    <div class="col-lg-4">
      <%= render 'shared/right-column' %>
    </div>
    <!-- End Right column -->
  </div>
  <!-- End Row -->
</div>
